/* THE SETTINGS OF THE HIGHER ELEMENTS*/
body{
    display: grid;
    grid-template-rows: 7% 86% 7% ;
    font-family:  "JetBrains Mono",monospace;
}

main{
    grid-row: 2 ;
    display: grid;
}

footer{
    grid-row: 3 ;
}
/* THE SETTINGS OF THE HIGHER ELEMENTS*/

header{
    grid-row: 1 ;
    color: #76a3ab;
    font-size: 30;
    font-weight: bold;
    text-align: center;
}

/* THE DIFFERENT DIVS OF THE SITE*/
#div1{
    display: grid;
    grid-template: 30% 40% 30% / 20% 60% 20%;
}

#div2{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    background-color: #76a3ab;
    border-radius: 20%;
    border-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

#div3{
    grid-area: 1 / 2 / 4 / 3;
    display: grid;
    grid-template: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%/ 10% 25% 2.5% 25% 2.5% 25% 10%;
}

#div4{
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    background-color: #cce2e6;
    border-radius: 20%;
    border-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#div5{
    grid-area: 2 / 1 / 4 / 2;
    background-color: #cce2e6;
    border-radius: 20%;
    border-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#div6{
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    background-color: #76a3ab;
    border-radius: 20%;
    border-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 12;
    text-align: center;
}
/* THE DIFFERENT DIVS OF THE SITE*/


/* THE FIELDS OF THE BOARD*/
#fieldA1{
    grid-area: 2 / 2 / 3 / 3;
}

#fieldA2{
    grid-area: 2 / 4 / 3 / 5;
}

#fieldA3{
    grid-area: 2 / 6 / 3 / 7;
}

#fieldB1{
    grid-area: 4 / 2 / 5 / 3;
}

#fieldB2{
    grid-area: 4 / 4 / 5 / 5;
}

#fieldB3{
    grid-area: 4 / 6 / 5 / 7;
}

#fieldC1{
    grid-area: 6 / 2 / 7 / 3;
}

#fieldC2{
    grid-area: 6 / 4 / 7 / 5;
}

#fieldC3{
    grid-area: 6 / 6 / 7 / 7;
}
/* THE FIELDS OF THE BOARD*/


/* THE BUTTON SETTINGS*/
button {
    border: none;
    font-family:  "JetBrains Mono",monospace;
    border-radius: 10%;
    background-color: #da7b78;
    color: white;
    font-size: medium;
}

button:disabled {
    background-color: #c8c7c9;
}

button:hover {
    background-color: #c8c7c9;
}

.field {
    background-color: #cce2e6;
    border-radius: 0%;
}

.field:hover {
    background-color: #eae8ed;
}
/* THE BUTTON SETTINGS*/


/* THE ALREADY PRESSED FIELDS OF THE BOARD*/
div.circle{
    background-color: #76a3ab;
    border-radius: 50%;
}

div.square{
    background-color: #76a3ab;
}
/* THE ALREADY PRESSED FIELDS OF THE BOARD*/


/* THE LEFT OVER BUTTONS*/
.disabledField{
    background-color: #eae8ed;
}
/* THE LEFT OVER BUTTONS*/


/* THE TOP10 DISPLAY*/
#top10 {
    text-align: center;
    margin: 5%;
}

#newDIV5{
    grid-area: 2 / 1 / 4 / 2;
    background-color: #cce2e6;
    border-radius: 20%;
    border-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#top10Btn {
    position: relative;
    height: 40%;
    width: 40%;
    justify-self:center;
    align-self: center;
}

#buttonDiv {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
 
#refreshBtn {
    width: fit-content;
}

td {
    text-align: center;
}
/* THE TOP10 DISPLAY*/

input {
    border-color: #da7b78;
    border-width: 15%;
    border-style: solid;
}

input::placeholder {
    color: #c8c7c9;
}