:root {
    --text: #000;
    --bg: #fff;
    --mission-list-bg: #e0e0e0;
    --mission-item-bg: #da9ee1;
    --mission-text-completed: #444444;

    --edit-icon: url(assets/editicon.svg);
    --delete-icon: url(assets/deleteicon.svg);

    --schneider-green: #3DCD58;
    --schneider-dark-green: #009530;
    --schneider-dark-gray: #626469;
    --schneider-light-gray: #9FA0A4;
  
    --proleit-blue: #073a73;
    --proleit-yellow: #ffcc00;
    --proleit-red: #ca0032;
}


@media (prefers-color-scheme: dark) {
    :root {
      --text: #fff;
      --bg: #000;
      --mission-item-bg: #62166a;
      --mission-text-completed: #aaaaaa;
    }
}

body {
    background-color: var(--bg);
    color: var(--text);
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px
}

header {
    background-color: var(--schneider-green);
    color: white;
    padding: 3px 0px 3px 20px;
}

main {
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: var(--schneider-green);
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

#mission-list, #completed-list {
    border: 2px solid black;
    background-color: var(--mission-list-bg);
}

#mission-list > div, #completed-list > div { /* Single Entry */
    padding: 5px;
    margin: 5px;
    border: 1px solid #000000;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 40px 1fr 160px 50px 50px;
    background-color: var(--mission-item-bg);
    color: var(--text);
}

.mission-completed {
    grid-area: 1 / 1 / span 2 / span 1;
    height: 30px;
    width: 30px;
    place-self: center;

}

.mission-name {
    grid-area: 1 / 2 / span 1 / span 1;
    font-weight: bold;
    
}

.mission-description {
    grid-area: 2 / 2 / span 1 / span 1;
    font-style: italic;
    font-size: 14px;
    margin-left: 5px;
}

.mission-enddate {
    grid-area: 1 / 3 / span 2 / span 1;
    align-self: center;
    text-align: right;
    margin-right: 15px;
}

.overdue {
    color: red;
}

button, input[type=button], input[type=submit] {
    border: 1px solid #000;
    border-radius: 5px;
    min-height: 25px;
    
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #fc0;
}



.mission-edit-button {
    grid-area: 1 / 4 / span 2 / span 1;
    background-image: var(--edit-icon);

}

button.mission-delete-button {
    grid-area: 1 / 5 / span 2 / span 1;
    background-image: var(--delete-icon);
}

.red-hover:hover, input.red-hover:hover, .mission-delete-button:hover {
    background-color: #f00;
}

#completed-list span {
    text-decoration-line: line-through;
    color: var(--mission-text-completed);
    font-style: italic;
}

/* #region Detailed View */

#detailed-mission-view {
    background-color: #000000aa;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-self: center;
}

#detailed-mission-view > .popup {
    border: 5px solid #000000;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--bg);
    height: 300px;
    margin-top: 15%;
}

#detailed-mission-view form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    row-gap: 7px;
}

.column-span-2 {
    grid-column: auto / span 2;
}

.button-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

}

#detailed-mission-view form input[type=button], #detailed-mission-view form input[type=submit] {
    margin-top: 12px;
}

/* #endregion Detailed View */