:root{
  --colourBase: #666666;
  --colourAccent1: #a42cd6;
  --colourAccent2: #120d31;
  --colourTextBase: #defffc;
  --colourTextComplementary: #d0a5c0;
  --transparencyBorder: rgba(0, 0, 0, 0.3);
  --transparencyBody: rgba(0, 0, 0, 0.1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--colourBase);
  color: var(--colourTextBase)
}

h1 p{
  width: fit-content;
  border-bottom: 5px solid var(--colourAccent1);
}

.listItem{
  --lIWidth: 80%;
  height: 2em;
  position: relative;
  left: calc(50% - var(--lIWidth)/2);
  width: var(--lIWidth);
  margin: 10px 0px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.btnDelete{
  --btnSize: 25px;
  background-image: url(./media/trashcan.svg);
  background-repeat: no-repeat;
  background-size: calc(var(--btnSize)*1.05);
  background-position-x: -2.5px;
  background-position-y: 1px;

  background-color: var(--transparencyBody);

  width: var(--btnSize);
  height: var(--btnSize);

  border-radius: 4px;
  border-bottom-left-radius: 1px;
  border-style: solid;
}

.listItemText{
  margin: 0px 15px;
  width: 50%;
  max-width: 400px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  border-color: rgba(0, 0, 0, 0.0);
  background-color: var(--transparencyBody);
  border-width: 3px;
  border-style: solid;
}

.listItemText[disabled]{
  text-decoration-line: line-through;
  text-decoration-color: var(--colourAccent1);
  text-decoration-thickness: 2px;
}

.listItemText:focus{
  border-color: var(--colourAccent1);
  outline: none;
}