:root{
  --colourBase: #ffeffe;
  --colourAccent1: #e59500;
  --colourAccent2: #840032;
  /* --colourAccent2: #02040f; */
  /* --colourTextComplementary: #002643; */
  --transparencyBorder: rgba(0, 0, 0, 0.3);
  --transparencyBody: rgba(0, 0, 0, 0.1);
  --btnSize: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--colourBase);
  color: var(--colourAccent2);
}

h1.stickyHeader{
  z-index: 99;
  position: sticky;
  top: 0;
}

h1 > div{
  background-color: var(--colourBase);
} 

h1 p{
  width: 75%;
  border-bottom: 5px solid var(--colourAccent1);
}

.taskList{
  display: flex;
  flex-flow: column nowrap;
}


.listItem{
  --lIWidth: 80%;
  height: 1em;
  position: relative;
  left: calc(50% - var(--lIWidth)/2);
  width: var(--lIWidth);
  margin: 10px 0px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.listItem[completed]{
  order: 1;
}

button{
  width: var(--btnSize);
  height: var(--btnSize);

  border-radius: 4px;
  border-bottom-left-radius: 1px;
  border-style: solid;
  background-color: var(--transparencyBody);
  background-repeat: no-repeat;
  background-size: cover;
}
button:hover{
  border-color: var(--colourAccent2);
}

.btnDelete{
  background-image: url(./media/trashcan.svg);
  background-size: calc(var(--btnSize)*1.05);
  background-position-x: -2.5px;
  background-position-y: 1px;
}

.btnToggleTheme{
  position: fixed;
  bottom: 1%;
  left: 1%;
  width: calc(var(--btnSize)*1.5);
  height: calc(var(--btnSize)*1.5);
  background-image: url(./media/bulb-on.svg);
}

.btnToggleTheme:hover{
  background-image: url(./media/bulb-off.svg);
}

.listItemText{
  margin: 0px 15px;
  width: 50%;
  max-width: 400px;
  min-width: 150px;

  border-radius: 10px;
  border-bottom-left-radius: 2px;
  border-color: rgba(0, 0, 0, 0.0);
  background-color: var(--transparencyBody);
  border-width: 3px;
  border-style: solid;
}

.listItemText[disabled]{
  text-decoration-line: line-through;
  text-decoration-color: var(--colourAccent2);
  text-decoration-thickness: 2px;
}

.listItemText:focus{
  border-color: var(--colourAccent1);
  outline: none;
}
