#nachfahren-selektor #target {
    color: red;
}

#kind-selektor div > #target{

    color: red;
}

#nachbar-selektor #helper + #target {
    color: red;
  }

#geschwister-selektor p~#target {
    color: red;
  }


