@keyframes Test {
  0% {
    background-color: #ffcc00;
  }
  25% {
    background-color: blueviolet;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: red;
  }
  100% {
    background-color: violet;
  }
}
body {
  animation: Test 5s ease-in-out 0s infinite alternate;
}

#Control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*Links rechts*/
  height: 600px;
}

#Box {
  height: 200px;
  width: 200px;
  background-color: aquamarine;

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

#Box:hover {
  transform: rotate(360deg) scale(2);
  background-color: orange;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}


!!!Baustell nix funkzen Box!!!