:root {
  --background: #222;
  --contrast: #ffa500;
}

body {
  background-color: var(--background);
  color: whitesmoke;
  font-family: Verdana;
}

textarea {
  background-color: var(--background);
  color: whitesmoke;
  resize: none;
  font-size: 14px;
}

div > div:focus-within {
  border: 3px;
  border-color: var(--contrast);
  border-style: solid;
}

/* textarea:read-only {
  background-color: gray;
} */

#Button > button {
  font-size: 15px;
}

#Button > button:hover {
  background-color: var(--contrast);
}

#ToDo > div,
#Done > div {
  display: grid;
  grid-template-columns: 1fr 5% 5% 5%;
  grid-template-rows: auto;
}

#Done > div {
  text-decoration: line-through;
}

/* Add Images to Buttons */
button.edit > img {
  content: url("Pencil.png");
}

button.kill > img {
  content: url("TrashBin.png");
}

button.completed > img {
  content: url("CheckMark.png");
}

/* Add Hover changes */
#ToDo button:hover {
  background-color: var(--contrast);
  border: 1px;
  border-style: solid;
  border-color: black;
}

/* Add Hover changes */
#Done button:hover {
  background-color: var(--contrast);
  border: 1px;
  border-style: solid;
  border-color: black;
}
