body {
  background-color: black;
  color: whitesmoke;
  font-family: Verdana;
}

textarea {
  background-color: black;
  color: whitesmoke;
  resize: none;
}

/* button {
  background-color: black;
  color: whitesmoke;
} */

#ToDo > div {
  display: grid;
  grid-template-columns: 1fr 5% 5% 5%;
  grid-template-rows: auto;
}

/* .Editable {
  disable: false;
} */

button.edit > img {
  content: url("Pencil.png");
}

.kill > img {
  content: url("TrashBin.png");
}

.completed > img {
  content: url("CheckMark.png");
}
