@import url("https://css.gg/css");
@import url("../utilities/theme.css");

#noTodosSection {
  text-align: center;
}

/* #region Icon Colors */

.gg-add,
.gg-trash,
.gg-pen,
.gg-options {
  color: var(--foreground);
}

.gg-check-o {
  color: var(--lifeGreen);
}

.gg-close-o {
  color: var(--proleitRed);
}

/* #endregion Icon Colors */

/* #region Head */

#head {
  display: flex;
  align-items: center;
  position: relative;
}

#todoButtonAdd {
  --size: 50px;
  height: var(--size);
  width: var(--size);
  position: absolute;
  left: 0px;
}

#head h1 {
  text-align: center;
  width: 100%;
}

#optionsButton {
  --size: 50px;
  height: var(--size);
  width: var(--size);
  position: absolute;
  right: 0px;
}

/* #endregion Head */

/* #region Tables */

table {
  width: 100%;
}

table .tr-highlighted {
  outline: 1.5px solid var(--proleitRed);
}

table th {
  background: var(--proleitBlue);
  color: var(--white);
  padding: 5px;
}

table td {
  background: var(--themePrimaryGray);
  padding: 5px;
}

table .btn-column {
  text-align: center;
  vertical-align: middle;
}

table .btn-column button {
  height: 100%;
  width: 100%;
}

/* #endregion Tables */

/* #region Context Menu */

.context-menu {
  position: absolute;
  background: var(--background);
  border: 1px solid var(--themePrimaryGray);
  border-radius: 15px;
  overflow: hidden;
}

.context-menu div {
  display: flex;
  flex-direction: row;
  margin: 5px -5px 5px 5px;
}

.context-menu button {
  --size: 40px;
  height: var(--size);
  width: var(--size);
  margin-right: 10px;
}

/* #endregion Context Menu */

/* #region Dialogs */

dialog {
  min-width: 300px;
  width: fit-content;

  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: var(--proleitBlue);

  background-color: var(--background);
  padding: unset;
  overflow: hidden;
  color: unset;
}

.dialog-head {
  background: var(--proleitBlue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dialog-body {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dialog-body span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-body span input[type="checkbox"] {
  --size: 15px;
  height: var(--size);
  width: var(--size);
}

.dialog-body input[type="text"] {
  border-style: solid;
  border-width: 5px;
  border-color: var(--foreground);
  border-radius: 5px;

  background: var(--themePrimaryGray);

  padding: 10px;
  margin: 10px;
}

.dialog-actions {
  padding: 5px;
  background: var(--themePrimaryGray);
}

.dialog-actions button {
  background: none;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  color: inherit;
}

.dialog-actions button:hover {
  background: var(--backgroundHover);
}

/* #endregion Dialogs */
