body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.cell{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}