@keyframes test {
    0% {
        background-color: #073a73;
    }

    50% {
        background-color: #fc0;
    }

    100% {
        background-color: #35cd58;
    }
}

body {
    animation-name: test;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 200px;
    width: 200px;
    background-color: aquamarine;



}

div:hover {
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 1s;
}

div:hover {
    transform: rotate(360deg);
    background-color: #fc0;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}